em {
  background: yellow;
  color: black;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  margin-top: 25px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

body {
  background-color: #f5f8fa;
}

.content {
  margin-top: 30px;
  margin-bottom: 100px;
}

.glyphicon-search {
  font-size: 20px;
  color: white;
}

.btn-default {
  background: #1da1f2;
  width: 100px;
  padding: 12.5px;
}

.form-control {
  padding: 25px;
  font-size: 20px;
}

.w20 {
	width: 20%;
}

.w60 {
	width: 60%;
}

.primary {
	color: #1da1f2;
}

.title {
	color: #0084b4;
}

#search-button:hover,
#search-button:focus,
#search-button:active {
	background-color: #1da1f2;
}

.btn-primary{
  margin-left: 50%;
  margin-top: 20px;
  background-color: #1da1f2;
}
